# Series

The first main data type we will learn about for pandas is the Series data type. 

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [2]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [4]:
labels = ['StudentId','Rank','Age']
my_list = [101,5,21]
arr = np.array([101,5,21])
d = {'StudentId':10,'Rank':20,'Age':30}

** Using Lists**

In [5]:
pd.Series(data=my_list)

0    101
1      5
2     21
dtype: int64

In [6]:
pd.Series(data=my_list,index=labels)

StudentId    101
Rank           5
Age           21
dtype: int64

In [7]:
pd.Series(my_list,labels)

StudentId    101
Rank           5
Age           21
dtype: int64

** NumPy Arrays **

In [8]:
pd.Series(arr)

0    101
1      5
2     21
dtype: int32

In [9]:
pd.Series(arr,labels)

StudentId    101
Rank           5
Age           21
dtype: int32

** Dictionary**

In [10]:
pd.Series(d)

StudentId    10
Rank         20
Age          30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [11]:
pd.Series(data=labels)

0    StudentId
1         Rank
2          Age
dtype: object

In [12]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [13]:
ser1 = pd.Series([1,2,3,4],index = ['Bangalore', 'Mumbai','Delhi', 'Gurgaon'])

In [14]:
ser1

Bangalore    1
Mumbai       2
Delhi        3
Gurgaon      4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],index = ['Bangalore', 'Mumbai','Hyderabad', 'Gurgaon'])

In [16]:
ser2

Bangalore    1
Mumbai       2
Hyderabad    5
Gurgaon      4
dtype: int64

In [18]:
ser1['Mumbai']

2

Operations are then also done based off of index:

In [19]:
ser1 + ser2

Bangalore    2.0
Delhi        NaN
Gurgaon      8.0
Hyderabad    NaN
Mumbai       4.0
dtype: float64