In [ ]:
Linear Regression

In [ ]:
Mean, Median, Mode, Normal Distribution, Standard Deviation, Inter Quartile Range - Box Plot

# Import Packages

In [1]:
import pandas as pd
import numpy as np

# Import Data

In [2]:
df = pd.read_csv('bike_buyers.csv')

# Check Data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                1000 non-null   int64
 1   Marital Status    993 non-null    object
 2   Gender            989 non-null    object
 3   Income            994 non-null    float64
 4   Children          992 non-null    float64
 5   Education         1000 non-null   object
 6   Occupation        1000 non-null   object
 7   Home Owner        996 non-null    object
 8   Cars              991 non-null    float64
 9   Commute Distance  1000 non-null   object
 10  Region            1000 non-null   object
 11  Age               992 non-null    float64
 12  Purchased Bike    1000 non-null   object
dtypes: float64(4), int64(1), object(8)
memory usage: 101.7+ KB

# 1/ Missing Values

## Are there missing values?

In [4]:
df.isnull().sum()

ID                   0
Marital Status       7
Gender              11
Income               6
Children             8
Education            0
Occupation           0
Home Owner           4
Cars                 9
Commute Distance     0
Region               0
Age                  8
Purchased Bike       0
dtype: int64

## Treat Numerical Missing Values

In [17]:
# Calculate the mean of the "Income" column
mean_value = df['Income'].mean()

# Fill the missing values in the "Income" column with the calculated mean
df['Income'].fillna(mean_value, inplace=True)

mean_value

56267.605633802814

In [8]:
df.isnull().sum()

ID                   0
Marital Status       7
Gender              11
Income               0
Children             0
Education            0
Occupation           0
Home Owner           4
Cars                 9
Commute Distance     0
Region               0
Age                  0
Purchased Bike       0
dtype: int64

In [18]:
# Calculate the mean of the "Income" column
mean_value = df['Age'].mean()

# Fill the missing values in the "Income" column with the calculated mean
df['Age'].fillna(mean_value, inplace=True)

mean_value

44.181451612903224

## Treat Categorical Missing Values

In [12]:
df['Marital Status'].fillna( 'Missing' , inplace = True)
df['Gender'].fillna( 'Missing' , inplace = True)
df['Home Owner'].fillna( 'Missing' , inplace = True)
df['Cars'].fillna( 'Missing' , inplace = True)

### Check for missing values

In [16]:
df.isnull().sum()

ID                  0
Marital Status      0
Gender              0
Income              0
Children            0
Education           0
Occupation          0
Home Owner          0
Cars                0
Commute Distance    0
Region              0
Age                 0
Purchased Bike      0
dtype: int64

# 2/ Feature Transformation
- Numerical - Transformation
- Categorical - Encoding

## Transform Numerical into Log

## Create a House Owner /Bike Owner Flag

## Encode Categorical into Ordinal Encoding

# Export Cleaned Data