# Introduction to Python
---
## Data Types Operations
- Integer/Float ( Add, Substract, Multiply, Divide, Power )
- String ( Concatenate, Replicate, Slice, Manipulation )
- String and Numeric Operations

### Numerical - Operations
- Add (+)
- Subtract (-)
- Multiply (*)
- Divide (/)
- Power (**)

#### Consider 2 Variables holding 2 Integers

In [76]:
# number 1
x = 10
x

10

In [77]:
# number 2
y = 5
y

5

#### Calculations

In [78]:
#### Addition
print(x + y)

15

In [79]:
#### Subtraction
print(x - y)

5

In [80]:
#### Multiplication
print(x * y)

50

In [81]:
#### Division
print(x / y)

2.0

In [82]:
#### Power
print(x ** y)

100000

### String Operations

#### Consider 2 Strings

In [83]:
word1 = 'Alt'
word2 = 'Uni'

#### String Handling

In [88]:
# Conacatenate (Add)
brand = word1 + word2

print(brand)

AltUni

In [85]:
# Concatenate with additional string
print(word1 + ' - ' + word2)

Alt - Uni

In [86]:
# Replicate
print(word1 * 3)

AltAltAlt

In [92]:
# User Defined Function used to convert string to list
def convert_str_to_list(string):
    list1=[]
    list1[:0]=string
    return list1

# use user defined function "convert_str_to_list"
brand_list = convert_str_to_list(brand)

print(brand_list)

['A', 'l', 't', 'U', 'n', 'i']

In [96]:
# Python Index 
brand_index = [0,1,2,3,4,5]

print(brand_index)

[0, 1, 2, 3, 4, 5]

In [97]:
# Print both together
print(brand_list)
print(brand_index)

['A', 'l', 't', 'U', 'n', 'i']
[0, 1, 2, 3, 4, 5]

In [95]:
# Slice to get a single word
print(brand[0])

t

In [98]:
# Slice to get a 2 words and concatenate
print(brand[0] + brand[3])

AU

In [100]:
# Convert to lower case or upper

print('Lower Case')
print(brand.lower())

print('-----')
print('Upper Case')
print(brand.upper())

Lower Case
altuni
-----
Upper Case
ALTUNI

#### String

In [55]:
# using quotes denotes String
# use can use single or double quotes 
# python prefers single quotes
brand = 'AltUni'
brand

'AltUni'

### String and Number Operations

#### Consider One number and One String

In [101]:
sentence = 'Number of modules completed : '
modules = 5

In [102]:
# Addition or Concatenate?

print(sentence + modules)

TypeError: can only concatenate str (not "int") to str

In [103]:
# Subtraction or Remove Characters?

print(sentence - modules)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [104]:
# Multiply or Replicate String? 

print(sentence * modules)

Number of modules completed : Number of modules completed : Number of modules completed : Number of modules completed : Number of modules completed :

In [105]:
# Divide or what else ? 

print(sentence / modules)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
# We will know in the next chapter!

## Container Operations
- List ( Add, Substract, Multiply, Divide, Power )
- Set 
- String and Numeric Operations

### List Operations
- append
- extend
- insert
- remove
- pop
- **slice**
- reverse
- **len**
- **max & min**
- **count**
- concatenate
- **multiply**
- index 
- sort
- clear

#### Consider 2 lists

In [115]:
age = [24,21,23,22,20]
score = [10,8,4,6,9]

In [126]:
# slice - get single value
print(age)
print(age[3])

[24, 21, 23, 22, 20]
22

In [127]:
# slice - start number till end of index
print(age)
print(age[2:])

[24, 21, 23, 22, 20]
[23, 22, 20]

In [128]:
# slice - start to end at a certain index
print(age)
print(age[:3])

[24, 21, 23, 22, 20]
[24, 21, 23]

In [129]:
# slice - single value from back
print(age)
print(age[-1])

[24, 21, 23, 22, 20]
20

In [130]:
# slice - single value from back
print(age)
print(age[-5])

[24, 21, 23, 22, 20]
24

In [131]:
# length
print(age)
print(len(age))

[24, 21, 23, 22, 20]
5

In [132]:
# max
print(age)
print(max(age))

[24, 21, 23, 22, 20]
24

In [133]:
# min
print(age)
print(min(age))

[24, 21, 23, 22, 20]
20

In [136]:
# count
age_with_duplicates = [24,20,21,20,23,22,20]
print(age_with_duplicates.count(20))

3

In [114]:
# Multiply
print(age * 3)

[20, 21, 22, 23, 24, 20, 21, 22, 23, 24, 20, 21, 22, 23, 24]

In [109]:
# Addition
print(age + score)

[20, 21, 22, 23, 24, 10, 8, 4, 6, 9]

### Others - To be learned in future

# Next Topic: Data Conversion